@model DevMgmtWeb.Models.DeviceModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DeviceModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TelemetryCycle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelemetryCycle)
        </dd>
        <dt>
            @Html.DisplayName("Reported Properties")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reported)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
